.Comment{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .comment-author{
        display: flex;
        max-width: 120px;
        flex: 2;
    }
    .comment-content{
        flex: 6;
    }
    .comment-created{
        margin-right: 12px;
        flex: 2;
        text-align: center;
    }
    button{
        margin: 16px 0;
        height: 20px;
    }
}