@import 'utils';

.post-template {
    display: flex;
    flex-direction: column;
    padding: 100px 400px;
    min-height: 1000px;
    header{
        margin-bottom: 80px;
        .header-title{
            font-size: 50px;
            margin: 0;
        }
    }
    footer{
        border-top: 1px solid black;
        display: flex;
        margin-top: auto;
        .new-post{
            background-color: $oc-green-8;
            color: white;
            display: flex;
            margin-left: auto;
            margin-top: 30px;
        }
    }
}