@import "utils";

.Recomment {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: 0 12px;
  .recomment-simbol {
    margin-top: 12px;
    margin-right: 5px;
  }
  .recomment-author {
    display: flex;
    max-width: 120px;
    flex: 2;
  }
  .recomment-content {
    flex: 6;
  }
  .recomment-created {
    margin-right: 12px;
    flex: 2;
    text-align: center;
  }
  button {
    margin: 16px 0;
    height: 20px;
  }
}
