@import 'utils';

.CheckPassword{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  .check-form{
    padding: 30px 50px;
    border: 1px solid $oc-blue-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-input {
      padding: 10px 12px;
      font-size: 13px;
      border: 1px solid #cecdce;
      color: #333;
    }
    .form-buttons{
      display: flex;
      width: 100%;
      margin-top: 12px;
      button{
        outline: none;
        border: none;
        padding: 10px 15px;
        flex: 1;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
      .cancel {
        background-color: $oc-gray-6;
      }
      .check {
        background-color: $oc-green-5;
      }
      button + button {
        margin-left: 12px;
      }
    }
  } 
}